<div class="button-scroll-container">
    <div class="nav-buttons">
        <a href="/personalized" class="nav-button">
            <img src="{{ url_for('static', filename='images/personalized-button.png') }}" alt="Personalized">
            <span>Personalized Tools</span>
        </a>
        <a href="/helper" class="nav-button">
            <img src="{{ url_for('static', filename='images/travel-helper-button.png') }}" alt="Travel Helper">
            <span>Travel Helper</span>
        </a>
        <a href="/information" class="nav-button">
            <img src="{{ url_for('static', filename='images/information-button.png') }}" alt="Information">
            <span>Information</span>
        </a>
        <a href="/more" class="nav-button">
            <img src="{{ url_for('static', filename='images/more-button.png') }}" alt="More">
            <span>More...</span>
        </a>
    </div>
</div> 